* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b1d4e0;
}
#container2{
  /* background-color: aqua; */
  margin-top: 200px;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container1{
  /* background-color: aqua; */
  margin-top: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Password {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 50px;
  font-weight: 600;
  color: rgb(103, 124, 198);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0;
  background-color: white;
  margin-bottom: 20px;
}
#copy {
  width: 50px;
  height: 50px;
  margin-top: -20px;
}
input::placeholder {
  font-size: 15px;
  font-weight: bold;
}
.btn {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 2vh;
  font-weight: 600;
  margin-top: 30px;
  color: rgb(103, 124, 198);
}
